body{
    font-family: space mono,cursive;
    background-color:#4d004d;
}
.adres{
    padding-top:5px;
    padding-bottom:0px;
    margin-top:-10px;
    height: 14px;
    color:azure;
    line-height: 1em;
}
.advice2{
    line-height:1em;
    color:azure;
    margin-top: 30px;
}
.advice{
    margin-top:10px;
    line-height:1em;
    color:#4d004d;
}

.divR{
    background-color:#ff4d4d;
    color:white;
    margin-right:0px;
    margin-left:30%;
    height:50px;
    padding:10px;
}
.divB{
    background-color:white;
    color:#4d004d;
    margin-left:-10px;
    height:50px;
    padding:10px;
}
.divR,.divB{
    display: inline-block;
    font-size:40px;
    margin-top:5%;
    font-weight:bold;
}
.enform{
    margin-top:80px;
    color:#4d004d;
    margin-right:20%;
    float:right;
    font-size:40px;
    
}
.selection{
    margin-left:10px;
    font-size:40px; 
    display: inline-flex;
    padding:5px;
}
.textinscription{
    color:azure;
}
.menu{
    margin-left:20px;
    font-size:40px;
    color:#4d004d;
}
.ident{
    width: 700px;
    line-height: 2em;
    font-size:30px;
    padding-top:10px;
    margin:10px;
    color:#4d004d;
}
.descinf{
    position: absolute;
    margin-left:20px;
    font-size:25px;
    color:azure;
    width:700px;
}
.corner-left-title{
    margin-top:-10px;
}
.price{
    color:azure;
    font-weight: bold;
    position:absolute;
    z-index:4;
    margin-left:110px;
    margin-top:-15px;
    padding-top: 0;
    font-style:italic;
}
.liane{
    text-decoration: underline solid azure 5px;
    text-transform: Uppercase;
    color:azure;
    margin-left:120px;
    margin-top:-10px;
    position:absolute;
    z-index:6;
}
.placedisp{
    position:absolute;
    z-index:4;
    margin-top: 200px;
    margin-left:14px;
    color:#ff4d4d;
    font-size:14px;
    font-weight:bold;
    font-family: space mono, monospace;
}
.commentevent{
    position:absolute;
    z-index:4;
    margin-top: 180px;
    margin-left:185px;
    color:#ff6666;
    font-size:14px;
    font-family: space mono, monospace;
}
.datevent{
    color:#ff4d4d;
    position:absolute;
    z-index:4;
    font-family: space mono, monospace;
    font-size:18px;
    margin-top:160px;
    margin-left:50px;
}
.cards1{
    margin-top:70px;
    justify-content: center;
}

.title2 {
    color:#ff4d4d;
    font-weight: 500;
    transform: rotate(-8deg);
    background-color: azure;
    font-size:16px;
    position:absolute;
    z-index:5;
    margin-top:55px;
    height: fit-content;
    padding:5px;
}
ul {
    top:140px;
    list-style: none;
    padding: 0;
    display:inline-flex;
    justify-content: center;
    flex-direction: row;
    margin-left:20%;
    
}
ul .booking-card {
    width: 300px;
    flex: 0 0 300px;
    flex-direction: row;
    margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    color: #0a4870;
    margin-left:20px;
    margin-right:20px;
}
ul .booking-card .book-container {
    height: 240px;
}
ul .booking-card .book-container .content {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
ul .booking-card .informations-container {
    padding: 20px;
    background: #ff4d4d;
    height:280px;
}
ul .booking-card .informations-container .title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}
.booking-card{
    margin-top: 40px;
    margin-left:40px;
}
/*.navant{
    background-color:#ff4d4d;
    color:azure;
    font-size: 30px;
    width:400px;
    padding:5px;
    margin-left:300px;
    margin-top:150px;
}*/
input[type=submit]{
    background-color:#ff4d4d;
    border: none;
    color: azure;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left:300px;
    margin-top:150px;
    width:400px;
    font-size: 30px;

}