body{
    background-color: #4d004d;
    font-family: space mono, monospace;
    margin:0px;
    display: inline-block;
}
.plsleft{
    position: absolute;
    background-color:#ff3333;
    color:white;
    padding:0px;
    width:40%;
    float:left;
    margin-top:0;

}

/*
.divR{
    background-color:#ff471a;
    color:white;
    margin-right:0px;
}
.divB{
    background-color:white;
    color:#4d004d;
    margin-left:0px;
}
.divR,.divB{
    display: inline-block;
    
}
*/
.cards1{
    margin-top:80px;
    justify-content: center;

}

.title{
    float:right;
    margin-right:10%;
    font-size: 40px;
}
.title2 {
    color: #0a4870;
    font-weight: 500;
}
ul {
    top:150px;
    list-style: none;
    padding: 0;
    display:inline-flex;
    justify-content: center;
    flex-direction: row;
    margin-left:40%;
    
}
ul .booking-card {
    width: 300px;
    flex: 0 0 300px;
    flex-direction: row;
    margin-bottom: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-align: center;
    color: #0a4870;
    margin-left:20px;
    margin-right:20px;
}
ul .booking-card .book-container {
    height: 150px;
}
ul .booking-card .book-container .content {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
ul .booking-card .informations-container {
    padding: 20px;
    background: #ff3333;
    height:120px;
}
ul .booking-card .informations-container .title {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
}
.booking-card{
    margin-top: 50px;
}